.paginate-btn {
  padding: 0.5rem 0.5rem;
  width: 3rem;
  margin: 0.5rem;
}

.paginate {
  /* width: 50%;
  height: 3rem;
  overflow: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden; */
}

.paginate-wrap {
  /* width: 30rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
